div.tabledesign{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-spacing: 20px;
}
a{
  text-decoration: none;
  color: white;
}
.fas{
  text-align: left;
}
p{
  height: 35px;
  width: 250px;
  border: 1px solid black;
  border-radius: 50px;
  text-align: left;
  line-height: 40px;
  padding: 5px;
  margin: 15px;
}
p:hover{
  transition: transform 2s ease-in-out;
  transform: scale(1.2);
  animation-name: turn;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes turn {
  0% {border: 1px solid purple; left:0px;top:0px;}
  25% {border: 1px solid pink; left: 250px;top:35px;}
  50% {border:1px solid red; left:250px;top:250px;}
  75% {border:1px solid yellow; left:35px; top:250px;}
  100% {border:1px solid purple; left:0px;top:0px;}

}
i{
  margin-right: 20px;
  font-size: 30px;

}

body{
  background:linear-gradient(to left,purple 0%,pink 100%);
  cursor: pointer;
}
